.info-person {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #394b59;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.show-change {
    animation: flash 0.65s ease-in-out;
}

@keyframes flash {
    50% {
        background: #B7950B;
    }
}

.info-person-name {
    display: flex;
    font-size: 16px;
    min-width: 0;
    cursor: pointer;
    text-decoration: underline dotted rgba(255, 255, 255, 0.25);
}
