@import "../../Utils/Colors";

.main-info-graphic-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 40px;
  min-height: 0;
  transition: max-height 300ms $transition, min-height 300ms $transition;

  &.should-show-events {
    height: 50vh;
    max-height: 50vh;
    min-height: 50vh;
  }
}

.info-person {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $gray4;
  color: $white;
  padding: 10px;
  border-radius: 5px;
}

.show-change {
  animation: flash 0.65s $transition;
}

@keyframes flash {
  50% {
    background: $gold5;
  }
}

.info-person-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  min-width: 0;
  text-decoration: underline dotted $light-gray5;
}

.info-person-link {
  cursor: pointer;
  max-width: 200px;
}

.info-person-minimizer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  cursor: pointer;
}
