.dark-background {
    background: #394b59;
    color: white;
    position: relative;
}

.info-person-name {
    font-size: 2vw;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.single-row {
    display: flex;
    flex: 1 0 auto;
    margin-bottom: 10px;
}

.single-column {
    display: flex;
    flex: 1 0 auto;
}

.single-column.label {
    justify-content: flex-start;
}

.single-column.value {
    justify-content: flex-end;
}

.flexbox-row {
    display: flex;
}

.justify-end {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.current-dinner-party {
    flex-basis: 50%;
}

.info-person {
    flex-basis: 50%;
}

.no-person {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.big-icon {
    size: 50px;
}

.show-change {
    animation: flash 1s ease-in-out;
}

@keyframes flash {
    50% {
        background: #AED6F1;
    }
}

.party-holder {
    display: flex;
    flex-direction: column;
}

.user-display {
    display: flex;
    align-items: center;
    animation: fade-in-grow 200ms ease-in;
}

@keyframes fade-in-grow {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.user-div {
    display: flex;
    flex: 1 0 auto;
    cursor: pointer;
}

.user-div:hover {
    color: #2980B9;
    transition: color 400ms ease-in-out;
}

.change-to-pointer {
    cursor: pointer;
}

.flexbox-row .flex-basis-10 {
    display: flex;
    flex: 1 0 10%;
    margin: 0.5%;
    flex-wrap: wrap;
    word-break: break-word;
}

.flexbox-row .flex-basis-15 {
    display: flex;
    flex: 1 0 15%;
    margin: 0.5%;
    flex-wrap: wrap;
    word-break: break-word;
}

.flexbox-row .flex-basis-20 {
    display: flex;
    flex: 1 0 20%;
    margin: 0.5%;
    flex-wrap: wrap;
    word-break: break-word;
}

.flexbox-row .flex-basis-35 {
    display: flex;
    flex: 1 0 35%;
    margin: 0.5%;
    flex-wrap: wrap;
    word-break: break-word;
}

.flexbox-centered {
    justify-content: center;
}