@import "../../../../Utils/Colors";

$filter-width: 25px;
$filter-height: 25px;

.filters-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;

  .bp3-control {
    margin: 0;
  }
}

.filters-last-seen {
  display: flex;
}

.filters-people {
  display: flex;
  margin-top: 10px;
}

.filters-date-tooltip {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.filters-date-helper {
  display: flex;
  flex-direction: column;
}

.filters-actionable-container {
  background: $light-gray5;
  border-radius: 3px;
  padding: 5px;
  margin-top: 5px;
}

.filters-date-helper-single-row {
  display: flex;
  margin: 3px 0;
  color: $white;
}

.filters-date-line {
  display: flex;
  align-items: center;
  flex: 1;
  height: 1px;
  margin: auto 5px;
}

.filters-date-line.blue {
  background: $blue2;
}

.filters-date-line.green {
  background: $green2;
}

.filters-date-line.yellow {
  background: $gold2;
}

.filters-date-line.red {
  background: $red2;
}

.filters-date-helper-single-row-title {
  display: flex;
  font-weight: bold;
}

.filters-date-helper-single-row-description {
  display: flex;
  justify-content: flex-end;
}

.filters-date-checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.filters-date-single {
  display: flex;
  align-items: center;
  margin: 5px;
}

.filters-box {
  margin-right: 3px;
  width: $filter-width;
  height: $filter-height;
  border-radius: 3px;
  border: 1px solid $gray4;
  position: relative;

  &.blue {
    background: $blue2;
  }

  &.green {
    background: $green2;
  }

  &.yellow {
    background: $gold2;
  }

  &.red {
    background: $red2;
  }
}

.filters-categories {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
}

.filters-category-text {
  margin-right: 5px;
  margin-bottom: 2px;
}

.filter-ignore-list-helper {
  max-width: 250px;
}
