.d3-graph-container {
    position: relative;
    display: flex;
    flex: 1;
}

.connection-line {
    stroke-width: 1;
    stroke: black;
    opacity: 0.1;
    user-select: none;
}

.node {
    cursor: pointer;
    user-select: none;
    stroke-width: 3;
}

.name {
    font-size: 12;
    cursor: pointer;
    user-select: none;
    opacity: 0.75;
    transition: opacity 150ms ease-in;
    fill: black;
}

.name:hover {
    opacity: 1;
}

.graph-helpers {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 250px;
    border-radius: 3px;
}

.graph-assistant-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.find-user-autocomplete {
    display: flex;
    flex: 1;
}

.reset-graph-button {
    margin-left: 5px;
}
