@import "../../Utils/Colors";

.d3-graph-container {
  position: relative;
  display: flex;
  flex: 1;
}

.link {
  user-select: none;
}

.node {
  cursor: pointer;
  user-select: none;
  stroke-width: 3;

  &.orange {
    fill: $orange2;
  }

  &.blue {
    fill: $blue2;
  }

  &.green {
    fill: $green2;
  }

  &.yellow {
    fill: $gold2;
  }

  &.red {
    fill: $red2;
  }

  &.ignore {
    $mix-color: $light-gray4;

    &.orange {
      fill: mix($orange2, $mix-color);
    }

    &.blue {
      fill: mix($blue2, $mix-color);
    }

    &.green {
      fill: mix($green2, $mix-color);
    }

    &.yellow {
      fill: mix($gold2, $mix-color);
    }

    &.red {
      fill: mix($red2, $mix-color);
    }

    opacity: 0.75;
  }
}

.name {
  font-size: 15;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  fill: $gray5;
  text-anchor: middle;

  &.ignore {
    opacity: 0.75;
  }
}

.name:hover {
  opacity: 1;
}
