@import "../../Utils/Colors";

.d3-graph-container {
  position: relative;
  display: flex;
  flex: 1;
}

.link {
  user-select: none;
}

.node {
  cursor: pointer;
  user-select: none;
  stroke-width: 3;

  &.gray {
    fill: $light-gray3;
  }

  &.blue {
    fill: $blue2;
  }

  &.green {
    fill: $green2;
  }

  &.yellow {
    fill: $gold2;
  }

  &.red {
    fill: $red2;
  }
}

.name {
  font-size: 15;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  fill: $gray5;
}

.name:hover {
  opacity: 1;
}
