.d3-graph-container {
  position: relative;
  display: flex;
  flex: 1;
}

.link {
  user-select: none;
}

.node {
  cursor: pointer;
  user-select: none;
  stroke-width: 3;
}

.name {
  font-size: 15;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  fill: black;
}

.name:hover {
  opacity: 1;
}
