@import "../../../../Utils/Colors";

.graph-type-container {
  display: flex;
  flex-direction: column;
}

.graph-type {
  position: relative;
  padding: 0 12.5px;
}

.graph-type-selected {
  background: $gold5;
  animation: change-background 400ms $transition;
}

@keyframes change-background {
  0% {
    background: $gray4;
  }
  30% {
    background: $gray4;
  }
  100% {
    background: $gold5;
  }
}

.graph-helper-tooltip {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.graph-helper-math-box {
  margin-top: 10px;
  padding: 5px;
  background: $light-gray5;
  border-radius: 3px;
  color: $white;
  font-size: 10px;
}

.graph-helper-title {
  font-size: 15px;
  font-weight: bold;
  animation: fade-in-delay 750ms $transition;
}

@keyframes fade-in-delay {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
