@import "../../Utils/Colors";

.navbar-button {
  margin: 0 5px;
}

.flexrow {
  display: flex;
}

.atlas-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: $gray4;
  width: 50px;
  transition: width 200ms $transition;
}

.atlas-navbar.hover {
  width: 150px;
}

.navbar-logout-separator {
  display: flex;
  flex: 1;
}

.navbar-separator {
  display: flex;
  height: 1px;
  margin: 0 5px;
  background: $gray2;
}
