.user-node {
    border-radius: 50%;
    animation: fade-in 1s ease-in;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, font-size 0.3s ease-in-out, top 0.2s linear, left 0.2s linear;
}

.user-node:hover {
    width: 15vmin;
    height: 15vmin;
    font-size: 2.7vmin;
    background: #9A7D0A;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, font-size 0.3s ease-in-out, background 0.4s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.time-difference {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

div.R {
    background: #F1948A;
}

div.Y {
    background: #F7DC6F;
}

div.G {
    background: #7DCEA0;
}

div.F {
    background: #7B241C;
}

div.M {
    background: #1A5276;
}