$white: #fbfcfc;

$light-gray1: #f2f3f4;
$light-gray2: #d7dbdd;
$light-gray3: #bdc3c7;
$light-gray4: #909497;
$light-gray5: #626567;

$gray1: #d6dbdf;
$gray2: #85929e;
$gray3: #34495e;
$gray4: #283747;
$gray5: #1b2631;

$blue1: #d4e6f1;
$blue2: #7fb3d5;
$blue3: #2980b9;
$blue4: #1f618d;
$blue5: #154360;

$green1: #d4efdf;
$green2: #7dcea0;
$green3: #27ae60;
$green4: #1e8449;
$green5: #145a32;

$red1: #fadbd8;
$red2: #f1948a;
$red3: #e74c3c;
$red4: #b03a2e;
$red5: #78281f;

$gold1: #fcf3cf;
$gold2: #f7dc6f;
$gold3: #f1c40f;
$gold4: #b7950b;
$gold5: #7d6608;

$transition: cubic-bezier(0.87, 0.1, 0.36, 1);
