.autocomplete-tag {
    display: flex;
    width: fit-content;
    height: fit-content;
    color: white;
    background: #154360;
    border-radius: 8px;
    font-size: 12px;
    padding: 3px;
    margin-right: 10px;
    animation: fade-in-grow 200ms ease;
}

.autocomplete-row {
    background-color: white;
    transition: background-color 200ms ease;
    padding: 10px;
    cursor: pointer;
}

.autocomplete-row:hover {
    background-color: #85C1E9;
    transition: background-color 200ms ease;
}

.autofill-container {
    position: absolute;
    width: 95%;
    left: 10px;

    padding: 10px;
    justify-content: center;
    background-color: white;
    border: 1px solid #1B4F72;
    border-radius: 2px 2px 15px 15px;

    height: 200px;
    overflow-y: auto;
    animation: fade-in-grow 200ms ease-in;
}

.autofill-input {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    transition: width 200ms ease;
}

.total-container {
    position: relative;
    z-index: 2;
}

.values-container {
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
    align-items: center;
}

@keyframes fade-in-grow {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    100% {
        opacity: 1;
        max-height: 200px;
    }
}

::-webkit-scrollbar {
    background: transparent;
}