.all-fields-container {
    display: flex;
}

.user-fields-container {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.change-password {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}
