.person {
    position: absolute;
    transform: translate(-50%, -50%);
}

.time-difference {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    min-width: 2.5vmin;
    min-height: 2.5vmin;
}

.R {
    background: #F1948A;
}

.Y {
    background: #F7DC6F;
}

.G {
    background: #7DCEA0;
}

.user-node {
    border-radius: 50%;
    animation: fade-in 1s ease-in;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 300ms ease-in-out;
}

.user-node:hover {
    min-width: 4vmin;
    min-height: 4vmin;
    background: #9A7D0A;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.F {
    background: #7B241C;
    min-width: 2vmin;
    min-height: 2vmin;
}

.M {
    background: #1A5276;
    min-width: 2vmin;
    min-height: 2vmin;
}
